MONGODB_URI=mongodb+srv://dulaksha:qwe1234@quickbid3.un1a4.mongodb.net/quickbid6?retryWrites=true&w=majority&appName=quickbid3
TOKEN_SECRET_KEY="SDRFHASDFGHSEFHSDFHSDFGHSDFHSDFHSDFH"
FRONTEND_URL=http://localhost:3000
